{
  "source": {
    "directories": [
      "src"
    ]
  },
  "timeout": 10,
  "logs": {
    "text": "build/logs/infection.log",
    "summary": "build/logs/infection-summary.log",
    "badge": {
      "branch": "master"
    }
  },
  "tmpDir": "/tmp",
  "phpUnit": {
    "configDir": "./"
  },
  "mutators": {
    "@default": true,
    "@function_signature": false,
    "TrueValue": {
      "ignore": [
        "NameSpace\\*\\Class::method"
      ]
    }
  },
  "testFramework":"phpunit",
  "initialTestsPhpOptions": "-d zend_extension=xdebug.so",
  "testFrameworkOptions": "-vvv"
}